@model Mediska.Models.clsRegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<script src="https://www.google.com/recaptcha/api.js?render=6LcXnQAhAAAAAHsJdddHoZkMmX7PrBr1dTPfaJyq"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6LcXnQAhAAAAAHsJdddHoZkMmX7PrBr1dTPfaJyq', { action: 'Register' }).then(function (token) {
            $("#GoogleCaptchaToken").val(token);
        });
    });
</script>

<!--loader start-->
<div id="preloader">
    <div class="loader1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!--loader end-->
<!--body content wrap start-->
<div class="main">

    <!--hero section start-->
    <section class="hero-section full-screen gray-light-bg">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">
                    <!-- Image -->
                    <div class="bg-cover vh-100 ml-n3 gradient-overlay" style="background-image: url('../../Content/image/medical-15_s.jpg');">
                        <div class="position-absolute login-signup-content">
                            <div class="position-relative text-white col-md-12 col-lg-7">
                                <h2 class="text-white">حساب کاربری ندارید؟</h2>
                                <p>شما می توانید با وارد کردن شماره موبایل، یک رمز عبور و نام و نام خانوادگی، برای خود یک حساب کاربری بسازید</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-6">
                    <div class="login-signup-wrap px-4 px-lg-5">
                        <!-- Heading -->
                        <h1 class="text-center mb-1">
                            ثبت نام
                        </h1>

                        <!-- Form -->
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "login-signup-form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <!-- Label -->
                                <label class="pb-1">
                                    موبایل
                                </label>
                                <!-- Input group -->
                                <div class="input-group input-group-merge">
                                    <div class="input-icon">
                                        <span class="ti-mobile color-primary"></span>
                                    </div>
                                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", placeholder = "موبایل خود را وارد کنید" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger margin_right_20" })
                            </div>

                            <div class="form-group margin_bottom_0">
                                <!-- Label -->
                                <label class="pb-1">
                                    رمز عبور
                                </label>
                                <!-- Input group -->
                                <div class="input-group input-group-merge">
                                    <div class="input-icon">
                                        <span class="ti-lock color-primary"></span>
                                    </div>
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", placeholder = "رمز عبور خود را وارد کنید" } })
                                    <div class="input-icon-left">
                                        <span class="fa fa-eye color-primary" onclick="fnShowPassword(this,'Password');"></span>
                                    </div>
                                </div>
                                <ul id="password_area">
                                    <li><span id="pass_len" class="fa fa-exclamation-circle invalid_password"></span>حداقل 6 حرف</li>
                                    <li><span id="pass_upper_letter" class="fa fa-exclamation-circle invalid_password"></span>حداقل 1 حرف بزرگ انگلیسی</li>
                                    <li><span id="pass_low_letter" class="fa fa-exclamation-circle invalid_password"></span>حداقل 1 حرف کوچک انگلیسی</li>
                                    <li><span id="pass_digit" class="fa fa-exclamation-circle invalid_password"></span>حداقل 1 عدد</li>
                                    <li><span id="pass_special_char" class="fa fa-exclamation-circle invalid_password"></span>حداقل 1 کاراکتر خاص شامل ([!,%,@@,&,#,$,^,*,?,_,~])</li>
                                </ul>
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger margin_right_20 margin_bottom_30" })
                            </div>


                            <!-- Confirm Password -->
                            <div class="form-group">
                                <!-- Label -->
                                <label class="pb-1">
                                    تایید کلمه عبور
                                </label>
                                <!-- Input group -->
                                <div class="input-group input-group-merge">
                                    <div class="input-icon">
                                        <span class="ti-lock color-primary"></span>
                                    </div>
                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", placeholder = "تایید رمز عبور خود را وارد کنید" } })
                                    <div class="input-icon-left">
                                        <span class="fa fa-eye color-primary" onclick="fnShowPassword(this,'ConfirmPassword');"></span>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger margin_right_20" })
                            </div>

                            <!-- Name -->
                            <div class="form-group">
                                <!-- Label -->
                                <label class="pb-1">
                                    نام
                                </label>
                                <!-- Input group -->
                                <div class="input-group input-group-merge">
                                    <div class="input-icon">
                                        <span class="ti-user color-primary"></span>
                                    </div>
                                    @Html.EditorFor(model => model.FName, new { htmlAttributes = new { @class = "form-control", placeholder = "نام خود را وارد کنید" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.FName, "", new { @class = "text-danger margin_right_20" })
                            </div>

                            <!--Family Name -->
                            <div class="form-group">
                                <!-- Label -->
                                <label class="pb-1">
                                    نام خانوادگی
                                </label>
                                <!-- Input group -->
                                <div class="input-group input-group-merge">
                                    <div class="input-icon">
                                        <span class="ti-user color-primary"></span>
                                    </div>
                                    @Html.EditorFor(model => model.LName, new { htmlAttributes = new { @class = "form-control", placeholder = "نام خانوادگی خود را وارد کنید" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.LName, "", new { @class = "text-danger margin_right_20" })
                            </div>

                            <!--gender -->
                            <div class="form-group">
                                <span id="man_radio_item" class="switch_item switch_item_right radio_active" onclick="fnManClicked();"><i class="fa fa-male gender_icon"></i>مرد</span>
                                <span id="woman_radio_item" class="switch_item switch_item_left radio_deactive" onclick="fnWomanClicked();"><i class="fa fa-female gender_icon"></i>زن</span>
                                <span id="full_name" class="span_fullname"></span>
                            </div>

                            @Html.HiddenFor(model => model.Gender, new { id = "gender_mode" })
                            @Html.HiddenFor(model => model.GoogleCaptchaToken)
                            @Html.HiddenFor(model => model.ReturnUrl)

                            <div id="recaptcha" data-sitekey="6LcXnQAhAAAAAHsJdddHoZkMmX7PrBr1dTPfaJyq"></div>
                            <!-- Submit -->

                            <button type="submit" class="btn btn-block secondary-solid-btn border-radius mt-4 mb-3">
                                ثبت نام
                            </button>

                            <!-- Link -->
                            <div class="text-center">
                                <small class="text-muted text-center">
                                     حساب کاربری دارید؟ <a class="btn btn-outline-danger margin_right_10" href="/Account/Login">ورود به سیستم</a> 
                                </small>
                            </div>

                        }
                    </div>
                </div>
            </div> <!-- / .row -->
        </div>
    </section>
    <!--hero section end-->

</div>
<!--body content wrap end-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>
    $(document).ready(function () {

        var mode = $('#gender_mode').val();
        if (mode === true) {
            fnManClicked();
        }
        else {
            fnWomanClicked();
        }
        showFullName();
    });

    $("#Password").change(function () {
        checkPasswordStrong();
    });

    $("#Password").keyup(function () {
        checkPasswordStrong();
    });

    $("#FName").keyup(function () {
        showFullName();
    });
    $("#FName").change(function () {
        showFullName();
    });
    $("#LName").keyup(function () {
        showFullName();
    });
    $("#LName").change(function () {
        showFullName();
    });

   function checkPasswordStrong() {
        var password = $('#Password').val();

        var strength = 0;
        if (password.length < 6) {
            $('#pass_len').removeClass("valid_password");
            $('#pass_len').removeClass("fa-check-circle");
            $('#pass_len').addClass("invalid_password");
            $('#pass_len').addClass("fa-exclamation-circle");
        }
        else {
            strength += 1
            $('#pass_len').addClass("valid_password");
            $('#pass_len').addClass("fa-check-circle");
            $('#pass_len').removeClass("invalid_password");
            $('#pass_len').removeClass("fa-exclamation-circle");
        }

        if (password.match(/([A-Z])/)) {
            strength += 1;
            $('#pass_upper_letter').addClass("valid_password");
            $('#pass_upper_letter').addClass("fa-check-circle");
            $('#pass_upper_letter').removeClass("invalid_password");
            $('#pass_upper_letter').removeClass("fa-exclamation-circle");
        }
        else {
            $('#pass_upper_letter').removeClass("valid_password");
            $('#pass_upper_letter').removeClass("fa-check-circle");
            $('#pass_upper_letter').addClass("invalid_password");
            $('#pass_upper_letter').addClass("fa-exclamation-circle");

        }
        if (password.match(/([a-z])/)) {
            strength += 1;
            $('#pass_low_letter').addClass("valid_password");
            $('#pass_low_letter').addClass("fa-check-circle");
            $('#pass_low_letter').removeClass("invalid_password");
            $('#pass_low_letter').removeClass("fa-exclamation-circle");
        }
        else {
            $('#pass_low_letter').removeClass("valid_password");
            $('#pass_low_letter').removeClass("fa-check-circle");
            $('#pass_low_letter').addClass("invalid_password");
            $('#pass_low_letter').addClass("fa-exclamation-circle");
        }

        if (password.match(/([0-9])/)) {
            strength += 1;
            $('#pass_digit').addClass("valid_password");
            $('#pass_digit').addClass("fa-check-circle");
            $('#pass_digit').removeClass("invalid_password");
            $('#pass_digit').removeClass("fa-exclamation-circle");
        }
        else {
            $('#pass_digit').removeClass("valid_password");
            $('#pass_digit').removeClass("fa-check-circle");
            $('#pass_digit').addClass("invalid_password");
            $('#pass_digit').addClass("fa-exclamation-circle");
        }

        if (password.match(/([!,%,@@,&,#,$,^,*,?,_,~])/)) {
            strength += 1;
            $('#pass_special_char').addClass("valid_password");
            $('#pass_special_char').addClass("fa-check-circle");
            $('#pass_special_char').removeClass("invalid_password");
            $('#pass_special_char').removeClass("fa-exclamation-circle");
            return;


        }
        //if (password.indexOf(password) != -1) {
        //    strength += 1;
        //    $('#pass_special_char').addClass("valid_password");
        //    $('#pass_special_char').addClass("fa-check-circle");
        //    $('#pass_special_char').removeClass("invalid_password");
        //    $('#pass_special_char').removeClass("fa-exclamation-circle");

        //}
        else {
            $('#pass_special_char').removeClass("valid_password");
            $('#pass_special_char').removeClass("fa-check-circle");
            $('#pass_special_char').addClass("invalid_password");
            $('#pass_special_char').addClass("fa-exclamation-circle");
        }

        // If password contains both lower and uppercase characters, increase strength value.
        if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) strength += 1
        // If it has numbers and characters, increase strength value.
        if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/)) strength += 1

        // Calculated strength value, we can return messages
        // If value is less than 2
        if (strength < 2) {
            $('#strengthMessage').removeClass()
            $('#strengthMessage').addClass('Weak')
            return 'Weak'
        } else if (strength == 2) {
            $('#strengthMessage').removeClass()
            $('#strengthMessage').addClass('Good')
            return 'Good'
        } else {
            $('#strengthMessage').removeClass()
            $('#strengthMessage').addClass('Strong')
            return 'Strong'
        }
    }

    function fnManClicked() {
        $('#man_radio_item').removeClass('radio_deactive').addClass('radio_active');
        //$('#man_radio_item i').addClass('fa-check-circle');

        $('#woman_radio_item').removeClass('radio_active').addClass('radio_deactive');
        //$('#woman_radio_item i').removeClass('fa-check-circle');

        $('#gender_mode').attr('value', 'true');
        showFullName();
    };

    function fnWomanClicked() {
        $('#man_radio_item').removeClass('radio_active').addClass('radio_deactive');
        //$('#man_radio_item i').removeClass('fa-check-circle');

        $('#woman_radio_item').removeClass('radio_deactive').addClass('radio_active');
        //$('#woman_radio_item i').addClass('fa-check-circle');

        $('#gender_mode').attr('value', 'false');
        showFullName();
    };

    function showFullName() {
        var fullname = "";
        var mode = $('#gender_mode').val();
        var fName = $('#FName').val();
        var lName = $('#LName').val();
        if (fName != "" || lName != "") {
            $('#full_name').show();
            if (mode === 'true') {
                fullname = "آقای " + fName + " " + lName;
            }
            else {
                fullname = "خانم " + fName + " " + lName;
            }
            $('#full_name').text(fullname);
        }
        else {
            $('#full_name').hide();
        }
    }

    function fnShowPassword(sender, input_id) {
        var input = $('#' + input_id);
        var inp_type = input.attr('type');

        if (inp_type === 'password') {
            input.attr('type', 'text');
            $(sender).removeClass('fa-eye');
            $(sender).addClass('fa-eye-slash');
        }
        else {
            input.attr('type', 'password');
            $(sender).removeClass('fa-eye-slash');
            $(sender).addClass('fa-eye');

        }
    }


</script>
