@using Mediska.Models;
@using Mediska.Models.Repository;
@{
    ViewBag.Title = "تکمیل سبد خرید";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    repProduct RepP = new repProduct();
    decimal? totalProduct = 0;
    decimal? TotalPrice = 0;
    decimal? TotalOff = 0;
    int c = 0;

    List<cmplxProduct> ProductList = new List<cmplxProduct>();
    List<cmplxPackage> PackageList = new List<cmplxPackage>();
    List<clsCompeletCart> offCodeList = new List<clsCompeletCart>();
    List<cmplxGetUnConfirmPackage> unConfirmPackage = new List<cmplxGetUnConfirmPackage>();

    if (Session["ShopCart"] != null)
    {
        List<int> cart = Session["ShopCart"] as List<int>;
        offCodeList = Session["OffCodeList"] as List<clsCompeletCart>;
        var compeletCartDetails = offCodeList?.Select(i => i.CompeletCartDetails).FirstOrDefault();

        if (compeletCartDetails != null)
        {
            TotalOff = compeletCartDetails.Select(g => g.FinalPrice).DefaultIfEmpty(0).Sum();
        }

        PackageList = RepP.GetPackagesByIDs(cart);
        var ProductIDs = PackageList.Select(i => i.packageProductID).Distinct().ToList();
        ProductList = RepP.GetProductsByIDs(ProductIDs);
        totalProduct = PackageList.Sum(i => i.packagePrice);
        unConfirmPackage = RepP.UnConfirmPackage(Session["userID"] as int?);
        TotalPrice = totalProduct - (TotalOff / 10);
    }
}
<style>
    .input-group {
        margin-bottom: 5px;
    }

    label {
        width: 20%;
    }
    @@media (min-width: 330px) and (max-width: 500px) {


        .TFPrice {
            display: none;
        }

        .TFTITLE {
            font-size: 9px;
        }

        .basketpage_cart_footer_sum_span {
            font-size: 8px;
        }

        .basketpage_cart_footer_price_span {
            font-size: 8px;
        }

        .basketpage_cart_footer_tooman_span {
            font-size: 8px;
        }
    }

    @@media (min-width: 10px) and (max-width: 330px) {


        .TFPrice {
            display: none;
        }

        .TFTITLE {
            display: none;
        }
    }
   /* @@media (min-width: 320px) and (max-width: 991px) {
        .TFImage {
            display: none;
        }
        .TFCode {
            display: none;
        }

        .TFPrice {
            display: none;
        }
        .TGlIST{
            width:170PX;
        }
        .basketpage_cart_footer_sum_span {
            font-size: 8px;
        }
    }*/
</style>
<div class="container">
    <div class="basketpage_buy_div">
        تکمیل سبد خرید
        @if (Session["ShopCart"] != null)
        {
            <span class="basketpage_cart_count">@PackageList.Count</span>
        }
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="margin_top_20 margin_bottom_20">
        <div id="accordion">
            @foreach (var product in ProductList)
            {
                var MyPackageList = PackageList.Where(i => i.packageProductID == product.prdxtraProductID).ToList();
                var SumPrice = MyPackageList.Sum(i => i.packagePrice);
                var offCode = offCodeList?.Where(i => i.ProductID == product.ID).Select(i => i.OffCode).FirstOrDefault();
                var contractID = unConfirmPackage?.Where(i => i.ProductID == product.ID).Select(i => i.ContractID).FirstOrDefault();

                var offCodeDetail = offCodeList?.Where(i => i.ProductID == product.ID).Select(i => i.CompeletCartDetails).FirstOrDefault();
                <div class="card">
                    <div class="card-header" id="heading_@product.prdxtraProductID">
                        <div class="display_flex">
                            
                            <a href="/Home/ShowProduct/@product.prdxtraProductID"><img src="~/Content/image/Products/@product.prdxtraAvatarPhotoName" class="product_img_cart TFImage" /></a>
                            <button class="btn btn-link btn_product_title TFTITLE" data-toggle="collapse" data-target="#collapse_@product.prdxtraProductID" aria-expanded="true" style="margin-right: -3px;" aria-controls="collapse_@product.prdxtraProductID">
                                @product.prdxtraTitle
                            </button>
                            <span class="span_price span_price_sum TFPrice">@SumPrice.ToString("N0") تومان</span>
                            @if (!string.IsNullOrEmpty(offCode))
                            {
                                <span class="span_price span_price_sum TFCode" style="margin-right:20px">کد تخفیف: @offCode</span>
                            }
                            <form action="/ShopCart/FinalCart" id="compeletCartForm" method="post">
                                <input type="hidden" id="OnlineLicense1" name="finalCartList[@c].OnlineLicense1" />
                                <input type="hidden" id="OnlineLicense2" name="finalCartList[@c].OnlineLicense2" />
                                <input type="hidden" id="ContractID" name="finalCartList[@c].ContractID" value="@contractID" />


                                <input type="hidden" name="finalCartList[@c].ProductID" value="@product.prdxtraProductID" />
                                <select id="customerID_@product.prdxtraProductID" name="finalCartList[@c].CustomerID" data-ProductID="@product.prdxtraProductID" data-ProductTitle="@product.prdxtraTitle" data-LicenseAgreement="@product.prdxtraLicenseAgreement" data-NeedOnlineLicense="@product.prdxtraNeedOnlineLicense" data-OnlineLicense1Title="@product.prdxtraOnlineLicense1Title" data-OnlineLicense2Title="@product.prdxtraOnlineLicense2Title" class="form-control customerlist TGlIST" style="margin-right: 0px; margin-left: -6px;">
                                    <option value="none" selected disabled>--انتخاب مرکز--</option>
                                    @foreach (var item in ViewBag.CustomerList)
                                    {
                                        <option value="@item.customerID">@item.customerCompanyName (@(item.customerAddress.Length > 30 ? item.customerAddress.Substring(0, 30) + "...." : item.customerAddress))</option>
                                    }
                                </select>
                            </form>

                            <a id="btnNewCustomer_@product.prdxtraProductID" data-toggle="modal" href="#customerModal" class="btn btn-primary newCustomer" style="margin-right:20px">مرکز جدید</a>


                        </div>
                    </div>
                    <div id="collapse_@product.prdxtraProductID" class="collapse show" aria-labelledby="heading_@product.prdxtraProductID" data-parent="#accordion">
                        <div class="card-body padding_right_30">

                            <table class="table table-hover table_shop_cart">
                                @foreach (var pack in MyPackageList)
                                {
                                    var finalPrice = offCodeDetail?.Where(i => i.PackageID == pack.ID).Select(i => i.FinalPrice).FirstOrDefault() ?? 0;

                                    <tr class="cursor_pointer data_row">
                                        <td data-id="@pack.ID" class="width_250">
                                            @pack.packageName
                                        </td>
                                        <td data-id="@pack.ID" class="width_150">
                                            <span class="font_15" style="@(finalPrice > 0 ? Html.Raw("color:#b0aeae;text-decoration:line-through") : Html.Raw(""))">@pack.packagePrice.ToString("N0") </span><span class="font_15">@(finalPrice > 0 ? (finalPrice/10).ToString("N0") : "")</span><span class="span_tooman font_12">تومان</span>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>

                c++;
            }
        <div class="container-full basketpage_cart_footer_div">
            <div class="col-12">
                <div class="row">
                    <div class="col-3 basketpage_cart_footer_inner_div">
                        <span class="basketpage_cart_footer_sum_span"style="float:right">مبلغ کل :</span>
                        <span class="basketpage_cart_footer_price_span" id="totalPriceWithoutOff" style="font-size:15px">@(totalProduct?.ToString("N0"))</span>
                        <span class="basketpage_cart_footer_tooman_span"style="font-size:11px"> تومـان</span>
                    </div>

                    <div class="col-3 basketpage_cart_footer_inner_div">
                        <span class="basketpage_cart_footer_sum_span" style=" float: right;">مبلغ تخفیف :</span>
                        <span class="basketpage_cart_footer_price_span" id="totalPriceOff" style="font-size:15px">@(((TotalOff ?? 0) > 0 ?( TotalPrice ?? 0 - TotalOff ?? 0) : 0).ToString("N0"))</span>
                        <span class="basketpage_cart_footer_tooman_span" style="font-size:11px"> تومـان</span>
                    </div>

                    <div class="col-3 basketpage_cart_footer_inner_div">
                        <span class="basketpage_cart_footer_sum_span"style=" float: right">قابل پرداخت :</span>
                        <span class="basketpage_cart_footer_price_span" id="totalPrice"style="font-size:15px">@(TotalPrice?.ToString("N0"))</span>
                        <span class="basketpage_cart_footer_tooman_span" style="font-size:11px"> تومـان</span>
                    </div>
                    <div class="col-3">
                        <a href="#" id="compeletCart" class="btn btn-success">پرداخت</a>
                    </div>
                </div>
                </div>
            
        </div>
        </div>
    </div>
</div>

<div class="modal" id="licenseAgreement" data-NeedOnlineLicense="" data-OnlineLicense1Title="" data-OnlineLicense2Title="">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">
                    توافق نامه
                </h4>
            </div>
            <div class="modal-body" style="padding:30px">
                <div style="padding: 10px; border: 4px double black">
                    <p style="text-align: justify;" id="modalbody"></p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" id="btnCancel" class="btn btn-warning btncancel" data-dismiss="modal" aria-hidden="true">
                    انصراف
                </a>
                <a href="#" class="btn btn-success" id="btnOK" data-dismiss="modal" aria-hidden="true">
                    شرایط توافق نامه را میپذیرم
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="onlineLicense">
    <div class="modal-dialog modal-m" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">
                    لایسنس آنلاین
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <label class="pb-1" id="onlineLicense1Title">

                        </label>
                        @Html.TextBox("OnlineLicense1Value", null, new { @class = "form-control" })
                    </div>

                    <div class="input-group input-group-sm">
                        <label class="pb-1" id="onlineLicense2Title">

                        </label>
                        @Html.TextBox("OnlineLicense2Value", null, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" id="btnOnlineLicense" class="btn btn-success" data-dismiss="modal" aria-hidden="true">
                    تایید
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="customerModal" data-ProductID="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    مرکز جدید
                </h4>
            </div>
            @{Html.RenderPartial("_CustomerCreate"); }
            <div class="modal-footer">
                <a href="#" id="btnCustomerModalClose" data-dismiss="modal" class="btn">بستن</a>
                <a href="#" id="btnInsertCustomer" class="btn btn-primary" data-ProductID="">
                    ذخیره
                </a>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript">

        $(function () {
            var btnCancelClick = true;
            $(".customerlist").change(function () {

                var productID = $(this).attr("data-ProductID");
                    var licenseAgreement = $(this).attr("data-LicenseAgreement");
                    var productTitle = $(this).attr("data-ProductTitle");
                    if (licenseAgreement !== "") {
                        var items = [];
                        items = licenseAgreement.split('•');
                        var html = '';
                        $.each(items, function (i) {
                            html += '<p>' + items[i] + '</p>';
                        });
                        $("#modalbody").html(html);
                        $('#licenseAgreement').modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                        $('#licenseAgreement').find('.modal-title').text('توافق نامه ' + productTitle);
                        $(".btncancel").attr("id", "btnCancel_" + productID);

                        $('#licenseAgreement').attr("data-OnlineLicense1Title", $(this).attr("data-OnlineLicense1Title"));
                        $('#licenseAgreement').attr("data-OnlineLicense2Title", $(this).attr("data-OnlineLicense2Title"));
                        $('#licenseAgreement').attr("data-NeedOnlineLicense", $(this).attr("data-NeedOnlineLicense"));
                    }


            });

            $('#licenseAgreement').on('hidden.bs.modal', function () {
                var needOnlineLicense = $(this).attr("data-NeedOnlineLicense");

                if (btnCancelClick) {
                    if (needOnlineLicense === true || needOnlineLicense === "True") {
                        var onlineLicense1Title = $(this).attr("data-OnlineLicense1Title");
                        $("#onlineLicense1Title").html(onlineLicense1Title);

                        var onlineLicense2Title = $(this).attr("data-OnlineLicense2Title");
                        $("#onlineLicense2Title").html(onlineLicense2Title);

                        $('#onlineLicense').modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                    }
                }
            });

            $('#customerModal').on('hidden.bs.modal', function () {
                if (btnCancelClick) {
                    setTimeout(function () {
                        var productID = $('#customerModal').attr("data-ProductID");
                        var temp = 0;
                        var currentValue, maxValue;
                        $('#customerID_' + productID + ' option').each(function (i, v) {
                            currentValue = v.value;
                            if (currentValue !== "none") {
                                maxValue = Math.max(temp, currentValue);
                                temp = maxValue;

                                $("#customerID_" + productID).val(maxValue);
                            }
                        });

                        var licenseAgreement = $("#customerID_" + productID).attr("data-LicenseAgreement");
                        var productTitle = $("#customerID_" + productID).attr("data-ProductTitle");
                        if (licenseAgreement !== "") {
                            var items = [];
                            items = licenseAgreement.split('•');
                            var html = '';
                            $.each(items, function (i) {
                                html += '<p>' + items[i] + '</p>';
                            });
                            $("#modalbody").html(html);
                            $('#licenseAgreement').modal({
                                backdrop: 'static',
                                keyboard: false
                            });
                            $('#licenseAgreement').find('.modal-title').text('توافق نامه ' + productTitle);
                            $(".btncancel").attr("id", "btnCancel_" + productID);

                            $('#licenseAgreement').attr("data-OnlineLicense1Title", $("#customerID_" + productID).attr("data-OnlineLicense1Title"));
                            $('#licenseAgreement').attr("data-OnlineLicense2Title", $("#customerID_" + productID).attr("data-OnlineLicense2Title"));
                            $('#licenseAgreement').attr("data-NeedOnlineLicense", $("#customerID_" + productID).attr("data-NeedOnlineLicense"));
                        }
                    }, 1000);
                }
            });

            $(".newCustomer").click(function () {

                jQuery.getJSON("/ShopCart/myAreaList/", { query: "" }, function (data) {
                    $("#customerAreaID").select2({
                        data: data,
                        dir: 'rtl',
                        width: '80%'
                    });
                });

                jQuery.getJSON("/ShopCart/myCustomerGroupList/", {}, function (data) {
                    $("#customerCustomerGroupID").select2({
                        data: data,
                        dir: 'rtl',
                        width: '80%'
                    });
                });
                var productID = $(this).attr("id").split('_')[1];
                $("#btnInsertCustomer").attr("data-ProductID", productID);
                $("#customerModal").attr("data-ProductID", productID);
            });

            $("#compeletCart").click(function () {
                var flag = false;
                $(".customerlist").each(function () {

                    if ($(this).val() === "none" || $(this).val() === null) {
                        showAlert("خطا", "انتخاب مرکز الزامی است", "error");
                        flag = true;
                        return;
                    }
                });
                if (flag) {
                    return;
                }

                $.post("/ShopCart/FinalCart", $("#compeletCartForm").submit(), function (data) {
                    showAlert("خطا", data.Message, "error");
                });
            });

            $(".btncancel").click(function () {
                var id = $(this).attr("id").split('_')[1];
                $('#customerID_' + id + ' option:first').prop('selected', true);
                btnCancelClick = false;
            });

            $("#btnOnlineLicense").click(function (e) {

                var onlineLicense1Value = $("#OnlineLicense1Value").val();
                var onlineLicense2Value = $("#OnlineLicense2Value").val();

                if (onlineLicense1Value === "" || onlineLicense2Value === "") {
                    showAlert("خطا", "مقدار لایسنس را وارد کنید", "error");
                    $("#OnlineLicense1Value").focus();
                    e.stopPropagation();
                    return;
                }

                $("#OnlineLicense1").val(onlineLicense1Value);
                $("#OnlineLicense2").val(onlineLicense2Value);
            });

            $("#btnOK , #btnInsertCustomer").click(function () {
                btnCancelClick = true;
            });

            $("#btnCustomerModalClose").click(function () {
                btnCancelClick = false;
            });
            $(".customerlist").each(function () {
                var id = $(this).attr("id").split('_')[1];

                if ($("#customerID_" + id + " option").length === 1) {

                    jQuery.getJSON("/ShopCart/myAreaList/", { query: "" }, function (data) {
                        $("#customerAreaID").select2({
                            data: data,
                            dir: 'rtl',
                            width: '80%'
                        });
                    });

                    jQuery.getJSON("/ShopCart/myCustomerGroupList/", {}, function (data) {
                        $("#customerCustomerGroupID").select2({
                            data: data,
                            dir: 'rtl',
                            width: '80%'
                        });
                    });
                    var productID = $(this).attr("id").split('_')[1];
                    $("#btnInsertCustomer").attr("data-ProductID", productID);
                    $("#customerModal").attr("data-ProductID", productID);

                    $("#customerModal").modal({
                        backdrop: 'static',
                        keyboard: false
                    });;
                }

            });
        });

    </script>
}