@using Mediska.Models;
@using Mediska.Models.Repository;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    repProduct RepP = new repProduct();
    decimal TotalPrice = 0;
    int k = 0, d = 0;

    List<cmplxProduct> ProductList = new List<cmplxProduct>();
    List<cmplxPackage> PackageList = new List<cmplxPackage>();
    if (Session["ShopCart"] != null)
    {
        List<int> cart = Session["ShopCart"] as List<int>;

        PackageList = RepP.GetPackagesByIDs(cart);
        var ProductIDs = PackageList.Select(i => i.packageProductID).Distinct().ToList();
        ProductList = RepP.GetProductsByIDs(ProductIDs);
        TotalPrice = PackageList.Sum(i => i.packagePrice);

    }
}
<style>



   
    @@media (min-width: 330px) and (max-width: 500px) {


        .TFPrice {
            display: none;
        }

        .TFTITLE {
            font-size: 9px;
        }
        .basketpage_cart_footer_sum_span {
            font-size: 8px;
        }

        .basketpage_cart_footer_price_span {
            font-size: 8px;
        }

        .basketpage_cart_footer_tooman_span {
            font-size: 8px;
        }
    }
    @@media (min-width: 10px) and (max-width: 330px) {

      
        .TFPrice {
            display: none;
        }
        .TFTITLE {
            display: none;
        }

    }

   
</style>

<div class="container">
    <div class="basketpage_buy_div">
        سبد خرید
        @if (Session["ShopCart"] != null)
        {
            <span class="basketpage_cart_count">@PackageList.Count</span>
        }

    </div>
    <div class="margin_top_20 margin_bottom_20">
        <div id="accordion">
            <form action="/ShopCart/CompeletCart" method="post" id="compeletCartForm">
                @foreach (var product in ProductList)
                {
                    var MyPackageList = PackageList.Where(i => i.packageProductID == product.prdxtraProductID).ToList();
                    var SumPrice = MyPackageList.Sum(i => i.packagePrice);

                    <div class="card">
                        <div class="card-header" id="heading_@product.prdxtraProductID">
                            <div class="display_flex">

                                <a href="/Home/ShowProduct/@product.prdxtraProductID"><img src="~/Content/image/Products/@product.prdxtraAvatarPhotoName" class="product_img_cart" /></a>
                                <button class="btn btn-link btn_product_title TFTITLE" data-toggle="collapse" data-target="#collapse_@product.prdxtraProductID" aria-expanded="true" aria-controls="collapse_@product.prdxtraProductID" style="margin-right: -4px;">
                                    @product.prdxtraTitle
                                </button>
                                <span class="span_price span_price_sum TFPrice">@SumPrice.ToString("N0") تومان</span>
                                <input type="hidden" name="OffCodeList[@k].ProductID" value="@product.prdxtraProductID" />
                                <input type="text" name="OffCodeList[@k].OffCode" onkeypress="myCheckOffCode(event)" id="offCode_@product.prdxtraProductID" class="form-control offCode TFCode" placeholder="کد تخفیف" />

                                <span id="btnOff_@product.prdxtraProductID" class="btn btn-info " onclick="offCode($(this).attr('id'));" data-IsClick="" style="width:200px">اعمال تخفیف</span>

                            </div>
                        </div>

                        <div id="collapse_@product.prdxtraProductID" class="collapse show" aria-labelledby="heading_@product.prdxtraProductID" data-parent="#accordion">
                            <div class="card-body padding_right_30">

                                <table class="table table-hover table_shop_cart" id="table_@product.prdxtraProductID">
                                    @foreach (var pack in MyPackageList)
                                    {
                                        <tr class="cursor_pointer data_row" id="packageID_@pack.ID" data-ProductID="@product.prdxtraProductID">
                                            <td data-id="@pack.ID" class="width_250">
                                                @pack.packageName
                                                <input type="hidden" name="OffCodeList[@k].CompeletCartDetails[@d].PackageID" value="@pack.ID" />

                                                <input id="finalPrice_@pack.ID" type="hidden" name="OffCodeList[@k].CompeletCartDetails[@d].FinalPrice" value="" />
                                            </td>
                                            <td data-id="@pack.ID" class="width_150"><span class="font_15">@pack.packagePrice.ToString("N0") </span><span data-OffPrice="" class="font_15"></span><span class="span_tooman font_12">تومان</span></td>
                                            <td class="td_trash">
                                                @if (pack.packagePartitionIndex == 0)
                                                {
                                                    if (MyPackageList.Count == 1)
                                                    {
                                                        <a href="#" class="remove_shopcart" data-PackageID="@pack.ID" onclick="myDeletePackage($(this).attr('data-PackageID'))"><i class="fa fa-trash-alt font_20" title="حذف از سبد خرید"></i></a>
                                                    }
                                                }
                                                else
                                                {
                                                    <a href="#" data-PackageID="@pack.ID" onclick="myDeletePackage($(this).attr('data-PackageID'))" class="remove_shopcart"><i class="fa fa-trash-alt font_20" title="حذف از سبد خرید"></i></a>
                                                }
                                            </td>

                                        </tr>

                                        d++;
                                    }
                                </table>

                            </div>
                        </div>

                    </div>
                    k++;
                }
            </form>

            <div class=" container-full basketpage_cart_footer_div">
                <div class="col-12">
                    <div class="row">
                        <div class="col-3 basketpage_cart_footer_inner_div">
                            <span class="basketpage_cart_footer_sum_span" style="float:right">مبلغ کل :</span>
                            <span class="basketpage_cart_footer_price_span" style="font-size: 15px;font:bold" id="totalPriceWithoutOff">@TotalPrice.ToString("N0")</span>
                            <span class="basketpage_cart_footer_tooman_span" style="font-size:11px"> تومـان</span>
                        </div>

                        <div class="col-3 basketpage_cart_footer_inner_div">
                            <span class="basketpage_cart_footer_sum_span" style="float:right">مبلغ تخفیف :</span>
                            <span class="basketpage_cart_footer_price_span" id="totalPriceOff" style="font-size: 15px"></span>
                            <span class="basketpage_cart_footer_tooman_span" style="font-size:11px"> تومـان</span>
                        </div>

                        <div class="col-3 basketpage_cart_footer_inner_div">
                            <span class="basketpage_cart_footer_sum_span" style="float:right">قابل پرداخت :</span>
                            <span class="basketpage_cart_footer_price_span" id="totalPrice" style="font-size: 15px;">@TotalPrice.ToString("N0")</span>
                            <span class="basketpage_cart_footer_tooman_span" style="font-size:11px"> تومـان</span>
                        </div>
                        <div class="col-3">
                            <a href="#" id="compeletCart" class="btn btn-success">تکمیل خرید</a>
                        </div>
                    </div>

                </div>

            </div>
           
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        function myCheckOffCode(event) {
           
            if (event.which == 13) {
                event.preventDefault();
            }
            
        }
        function myDeletePackage(id) {
            //var productID = $("#packageID_" + id).attr("data-ProductID");
            //alert(productID);
            //$("#packageID_" + id).remove();
            //alert($("#table_" + productID + " tbody tr").length);

            var offCodes = [];
            $(".offCode").each(function () {
                var val = $(this).val();
                if (val !== "") {
                    var codeID = $(this).attr("id");
                    var result = val + ";" + codeID;
                    offCodes.push(result);
                }
            });

            window.location = "/ShopCart/RemovePackageFromCart/?id=" + id + "&offCodes=" + offCodes;
        }
        function addComma(str) {
            var objRegex = new RegExp("(-?[0-9]+)([0-9]{3})");
            while (objRegex.test(str)) {
                str = str.replace(objRegex, "$1,$2");
            }
            return str;
        }
        function offCode(id) {

            $("#" + id).attr("data-IsClick", "1");

            $(".offCode").each(function () {
                var val = $(this).val();
                var elementID = $(this).attr("id");
                var productID = $(this).attr("id").split('_')[1];

                if (val !== "") {

                    jQuery.getJSON("/ShopCart/myDiscountList", { offCode: val }, function (data) {

                        if (data.Status == "Error") {
                            showAlert("خطا", data.Message, "error");
                            $("#" + elementID).val("");
                            $("#" + elementID).focus();
                        }
                        else {
                            var flag = false;
                            $.each(data.Data, function (i) {
                                var packageID = data.Data[i].PackageID;
                                $("#collapse_" + productID + " .table .data_row").each(function () {
                                    var elementID = $(this).find("td").eq(0).attr("data-id");

                                    if (elementID.toString() === packageID.toString()) {
                                        flag = true;
                                        $(this).find("td").eq(1).find("span").eq(0).css("color", "#b0aeae");
                                        $(this).find("td").eq(1).find("span").eq(0).css("text-decoration", "line-through");
                                        var finalPrice = parseInt(data.Data[i].FinalPrice) / 10;
                                        $("#finalPrice_" + elementID).val(finalPrice);
                                        $(this).find("td").eq(1).find("span").eq(1).text(addComma(finalPrice.toString()));
                                        $(this).find("td").eq(1).find("span").eq(1).attr("data-OffPrice", data.Data[i].OffPrice)
                                        //totalOff += parseInt(data[i].OffPrice);

                                    }
                                });
                            });
                            if (!flag) {
                                showAlert("خطا", "کد تخفیف مربوط به پکیج های انتخاب شده نمیباشد", "error");
                            }
                        }

                    });
                } else {
                    $("#collapse_" + productID + " .table .data_row").each(function () {

                        $(this).find("td").eq(1).find("span").eq(0).css("color", "black");
                        $(this).find("td").eq(1).find("span").eq(0).css("text-decoration", "none");
                        $(this).find("td").eq(1).find("span").eq(1).text("");
                        $(this).find("td").eq(1).find("span").eq(1).attr("data-OffPrice", "");

                    });

                }
            });

            setInterval(function () {
                totalPrice();
            }, 1000);


        }
        function totalPrice() {
            var totalOff = 0;
            $(".table .data_row").each(function () {

                var offPrice = $(this).find("td").eq(1).find("span").eq(1).attr("data-OffPrice")
                if (offPrice !== undefined && offPrice !== "") {
                    totalOff += parseInt( offPrice);
                }

            });
            var totalPrice = '@TotalPrice';
            
            var result = parseInt(totalPrice) - parseInt(totalOff) / 10;
            $("#totalPriceOff").text(addComma((parseInt(totalOff) / 10).toString()));
            $("#totalPrice").text(addComma(result.toString()));
        }
        $(function () {
            var offCodes = '@Session["offCodes"]';

            if (offCodes !== "") {
                var t = offCodes.split(',');

                for (var i = 0; i < t.length; i++) {
                    var val = t[i].split(';')[0];
                    var id = t[i].split(';')[1];
                    $("#" + id).val(val);
                }

                $(".offCode").each(function () {
                    var val = $(this).val();

                    var productID = $(this).attr("id").split('_')[1];

                    if (val !== "") {

                        jQuery.getJSON("/ShopCart/myDiscountList", { offCode: val }, function (data) {
                            if (data.Status != "Error") {
                                $.each(data.Data, function (i) {
                                    var packageID = data.Data[i].PackageID;

                                    $("#collapse_" + productID + " .table .data_row").each(function () {
                                        var elementID = $(this).find("td").eq(0).attr("data-id");

                                        if (elementID.toString() === packageID.toString()) {
                                            $(this).find("td").eq(1).find("span").eq(0).css("color", "#b0aeae");
                                            $(this).find("td").eq(1).find("span").eq(0).css("text-decoration", "line-through");
                                            var finalPrice = parseInt(data.Data[i].FinalPrice) / 10;
                                            $("#finalPrice_" + elementID).val(finalPrice);
                                            $(this).find("td").eq(1).find("span").eq(1).text(addComma(finalPrice.toString()));
                                            $(this).find("td").eq(1).find("span").eq(1).attr("data-OffPrice", data.Data[i].OffPrice)
                                            //totalOff += parseInt(data[i].OffPrice);

                                        }
                                    });
                                });                            }
                            
                        });

                        setInterval(function () {
                            totalPrice();
                        }, 1000);
                    }
                });

            }
            $("#compeletCart").click(function (e) {
                e.stopPropagation();
                $("#compeletCartForm").submit();
            });

            $(".offCode").change(function () {
                if ($(this).val() !== "") {
                    var productID = $(this).attr("id").split('_')[1];
                    $("#btnOff_" + productID).attr("data-IsClick", "");
                }
            });

            $(".offCode").on('keypress', function (e) {
                if (e.which == 13) {
                    var productID = $(this).attr("id").split('_')[1];
                    $("#btnOff_" + productID).attr("data-IsClick", "");
                    offCode(productID);
                }
            });
        });

    </script>
}