
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @{
        if (string.IsNullOrEmpty(ViewBag.MetaDescription))
        {
            ViewBag.MetaDescription = "خرید آنلاین نرم افزارهای کلینیکی و پزشکی";
        }
        if (string.IsNullOrEmpty(ViewBag.MetaKeywords))
        {
            ViewBag.MetaKeywords = "نرم افزار,فیزیوتراپی,توانبخشی,کاردرمانی,گفتار درمانی,شنوایی سنجی,ارتوپد فنی,طب فیزیکی,زیبایی,پزشکی,کلینیک,بیمه,تامین,سلامت,مسلح,API";
        }
        if (string.IsNullOrEmpty(ViewBag.Title))
        {
            ViewBag.Title = "مدیسکــا";
        }

    }
    <meta name="description" content="@ViewBag.MetaDescription">
    <meta name="keywords" content="@ViewBag.MetaKeywords">
    <meta property="og:site_name" content="مدیســکا" /> <!-- website name -->
    <meta property="og:site" content="https://www.mediska.ir" /> <!-- website link -->
    <meta property="og:title" content="نرم افزارهای پزشکی مدیسکا" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="@ViewBag.MetaDescription" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="~/Content/image/logo_40.jpg" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="~/Content/image/logo_40.png" />

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!--Magnific popup css-->
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <!--Themify icon css-->
    <link rel="stylesheet" href="~/Content/css/themify-icons.css">
    <!--Fontawesome icon css-->
    <link rel="stylesheet" href="~/Content/css/all.min.css">
    <!--animated css-->
    <link rel="stylesheet" href="~/Content/css/animate.min.css">
    <!--ytplayer css-->
    <link rel="stylesheet" href="~/Content/css/jquery.mb.YTPlayer.min.css">
    <!--Owl carousel css-->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">
    <!--custom css-->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <!--responsive css-->
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <link href="~/Content/css/fontiran.css" rel="stylesheet" />
    <link href="~/Content/css/notify.min.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-3.5.0.min.js"></script>
    <script src="~/Content/js/notify.min.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (TempData["SuccessMessage"] != null)
    {
        <input type="hidden" id="notify_message_success" value="@TempData["SuccessMessage"].ToString()" />
        TempData["SuccessMessage"] = null;
    }

    @if (TempData["WellcomeMessage"] != null)
    {
        <input type="hidden" id="notify_message_wellcome" value="@TempData["WellcomeMessage"].ToString()" />
        TempData["WellcomeMessage"] = null;
    }

    @if (!string.IsNullOrEmpty(@ViewBag.SuccessMessage))
    {
        <div class="alert alert-success z-index msg_div">
            <span class="fa fa-window-close padding_10" onclick="close_msg(this)"></span><strong>عملیات موفق</strong> @ViewBag.SuccessMessage
        </div>
    }

    @if (!string.IsNullOrEmpty(@ViewBag.InfoMessage))
    {
        <div class="alert alert-primary z-index msg_div">
            <span class="fa fa-window-close padding_10" onclick="close_msg(this)"></span><strong>پیغام</strong> @ViewBag.InfoMessage
        </div>
    }

    @if (!string.IsNullOrEmpty(@ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger z-index msg_div">
            <span class="fa fa-window-close padding_10" onclick="close_msg(this)"></span><strong>خطا</strong> @ViewBag.ErrorMessage
        </div>
    }

    @RenderBody()

    <!--bottom to top button start-->
    <button class="scroll-top scroll-to-target" data-target="html">
        <span class="ti-angle-up"></span>
    </button>
    <!--bottom to top button end-->
    <!--Popper js-->
    <script src="~/Content/js/popper.min.js"></script>
    <!--Bootstrap js-->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!--Magnific popup js-->
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <!--jquery easing js-->
    <script src="~/Content/js/jquery.easing.min.js"></script>
    <!--jquery ytplayer js-->
    <script src="~/Content/js/jquery.mb.YTPlayer.min.js"></script>
    <!--Isotope filter js-->
    <script src="~/Content/js/mixitup.min.js"></script>
    <!--wow js-->
    <script src="~/Content/js/wow.min.js"></script>
    <!--owl carousel js-->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!--countdown js-->
    <script src="~/Content/js/jquery.countdown.min.js"></script>
    <!--jquery easypiechart-->
    <script src="~/Content/js/jquery.easy-pie-chart.js"></script>
    <!--custom js-->
    <script src="~/Content/js/scripts.js"></script>
    <script src="~/Content/Script.js"></script>
    @RenderSection("scripts", required: false)

</body>

</html>
